@import 'scss/font-awesome.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto');

@mixin inline-list {
	position: relative;
	list-style: none;
	display: inline;
}

@mixin nav-text-styling {
	text-decoration: none;
	color: rgba(255,255,255,.6);
	font-size: 13px;
}

@mixin nav-center {
	position: relative;
	top: -25%;
}

@mixin hover-white {
	&:hover {
		color: white;
	}
}

@mixin story {
	background-repeat: no-repeat;
	background-size: 300px 125px;
	background-position: center center;
	float: left;
	margin: 10px 20px;
	display: block;
	height: 200px;
	width: 20%;
}

@mixin latest {
	a {
			position: relative;
			top: 82%;

		&:hover {
			color: #F42;
		}

		h4 {
			text-align: justify;
			width: 20%;
			display: inline;
		}

		span {
			color: gray;
			position: relative;
			top: 0%;
			display: block;
		}
	}
}

body {
	overflow-x: hidden;
	font-family: 'Roboto', sans-serif;

	a {
		text-decoration: none;
	}
}

nav {
	display: block;
	background-color: #131313;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 32px;

	#nav-left {
		@include nav-center;
		float: left;
		margin-left: -20px;

		li {
			@include inline-list;
			margin-left: 12px;
			float: left;

			a {
				@include nav-text-styling;
				@include hover-white;
			}
		}
	}

	#nav-right {
		@include nav-center;
		display: inline;
		float: right;

		li {
			@include inline-list;
			margin-right: 12px;
			float: right;

			a {
				@include nav-text-styling;
				@include hover-white;
			}
		}
	}
}

#countdown {
	position: absolute;
	top: 32px;
	left: 0;
	width: 100%;
	display: block;
	height: 48px;

	div {
		display: inline;
		color: #F42;
		
		a {
			position: relative;
			top: 25%;
			font-family: 'Shentox',sans-serif;
			text-decoration: none;
			text-transform: uppercase;
			float: left;
			color: #AAA;
			font-size: 100%;
			font-weight: 500;
			height: 48px;
			margin-left: 15px;
		}
	}

	#social-media {
		float: right;
		display: inline-block;

		li {
			@include inline-list;
			float: left;
			margin-left: 11px;
			margin-right: 5px;
		}
	}

	#deadline {
		position: relative;
		top: 25%;
		left: 10%;
		text-align: center;
		margin: 0 auto;
		display: inline-block;
		text-align: center;

		span {
			font-family: "Shentox", sans-serif;
			font-family: 500;
			color: #555;
			text-transform: uppercase;
			font-size: 12px;
			margin: 0 4px;
		}

		button {
			border: none;
			background-color: #0CC;
			color: white;
			font-size: 11px;
			font-weight: 700;
			border-radius: 3px;
			padding: 7px 14px;

			&:hover {
				background-color: purple;
			}
		}
	}
}

#main {
	position: absolute;
	top: 85px;
	width: 100%;
	height: 100%;

	article {
		background-image: url(../images/music.jpg);
		background-repeat: no-repeat; 
		background-size: 100% 325px;
		width: 66%;
		height: 350px;
		float: left;

		#headline {

			span {
				color: white;
				font-weight: 700;
				font-size: 36px;
				margin: 0;
			}

			div {
				float: right;
				display: inline;
				color: white;
			}
			
			h2 {
				font-size: 56px;
				font-weight: 700;
				font-family: 'Avalon',sans-serif;
				line-height: 1;
				color: white;
				margin: 0;
			}

			p {
				color: gray;
			}
		}
	}

	#side-story {
		width: 33%;
		height: 300px;
		float: right;
		display: inline;

		#one {
			background-image: url(../images/keyboard.jpg);
			background-repeat: no-repeat;
			background-size: 100% 160px;
			height: 160px;
			width: 98%;
			margin: 2.5px;

			h1 {
				margin: 0;
				color: white;
			}

			h2 {
				color: white;
				margin: 0;
			}

			p {
				color: gray;
				font-size: 12px;
			}
		}

		#two {
			background-image: url(../images/capitol.jpg);
			background-repeat: no-repeat;
			background-size: 100% 160px;
			height: 160px;
			width: 98%;
			margin: 2.5px;

			h2 {
				color: white;
				margin: 0;
			}

			p {
				color: gray;
				font-size: 12px;
			}
		}
	}

	#latest-stories {
		position: relative;
		top: 5%;
		width: 100%;
		height: 250px;
		float: left;

		h2 {
			color: #F42;
			display: block;
			margin-left: 60px;

			&:hover {
				color: black;
			}
		}

		a {
			width: 20%;
			height: 125px;
			text-decoration: none;
			color: black;
		}

		#first {
			@include inline-list;
			@include story;
			@include latest;
			background-image: url(../images/apple.jpg);
		}

		#second {
			@include inline-list;
			@include story;
			@include latest;
			background-image: url(../images/Burger-King.jpg);
		}

		#third {
			@include inline-list;
			@include story;
			@include latest;
			background-image: url(../images/security.jpg);
		}

		#fourth {
			@include inline-list;
			@include story;
			@include latest;
			background-image: url(../images/shutterstock.jpg);
		}

		#fifth {
			@include inline-list;
			@include story;
			@include latest;
			background-image: url(../images/cloud.jpg);
		}

		#sixth {
			@include inline-list;
			@include story;
			@include latest;
			background-image: url(../images/domains.jpg);
		}

		#seventh {
			@include inline-list;
			@include story;
			@include latest;
			background-image: url(../images/mac.jpg);
		}

		#eighth {
			@include inline-list;
			@include story;
			@include latest;
			background-image: url(../images/jedi.png);
		}
	}

	#funding {
		position: relative;
		width: 100%;
		top: 75%;
		float: left;
		margin: 20px;

		header {
			display: block;
	
			h2 {
				font-weight: 700;
				font-size: 28px;

				a {
					color: #F42;
					text-decoration: none;

					&:hover {
						color: black;
					}
				}
			}

			div {

				a {
					color: #F42;
					border-right: 1px solid #F42;
					margin-right: 23px;
					padding-right: 23px;
					font-size: 16px;
				}

				.no-border {
					border: none;
				}
			}
		}
	}
}

#investments {
	display: block;
	margin-top: 0;
	width: 100%;

	div {
		width: 20%;
		margin-right: 15px;
		float: left;

		a {

			img {
				position: relative;
				top: 85px;
				left: 0;
				margin: 10.67px;
			}

			h4 {
				background-color: #F42;
				color: white;
				padding: 10.67px 16px 10.67px 84px;
				font-weight: 700;
				margin: 0;
				font-size: 18px;
				white-space: nowrap;
				font-family: Avalon,sans-serif;
				text-align: center;
			}

			div {

				h4 {
					color: black;
					background-color: rgba(255,68,34,.08);
					width: 100%;
				}

				h5 {
					color: gray;
					background-color: rgba(255,68,34,.08);
					margin: 0;
					padding: 10.67px 16px 10.67px 84px;
					vertical-align: top;
					width: 100%;
				}
			}
		}

		.investment-card {
			position: relative;
			width: 100%;
			background-color: #fffaf8;

			a {
				display: block;
				color: #555;
				margin: 5px;

				&:hover {
					color: black;
				}
			}
		}

		.byline {
			width: 100%;
			border-top: 1px solid red;
			background-color: #fffaf8;
			height: 100px;

			a {
				margin: 20px;
				font-size: 12px;

				span {
					color: gray;
				}
			}
		}
	}
}

#features {
	position: absolute;
	top: 350%;
	display: block;
	height: 100%;
	width: 100%;

	div {
		float: left;
		width: 30%;
		margin: 1.5%;
		
		h1 {

			a {
				color: #F42;
				font-size: 36px;
				font-weight: 700;
				display: block;

				&:hover {
					color: black;
				}
			}
		}

		.image {
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
			width: 100%;
			height: 300px;

			div {
				position: relative;
				top: 38%;
				left: 10px;
				width: 100%;
				margin: auto;

				h5 {
					color: white;
					font-size: 13px;
					font-weight: 500px;
					text-transform: uppercase;
				}

				h3 {

					a {
						color: white;
					}
				}

				p {
					color: gray;
				}
			}
		}
	}
}

.extra {
	min-width: 100%;
	// margin-top: -15px;
	// background-image: url(https://cdn1.tnwcdn.com/wp-content/blogs.dir/1/files/2017/04/Microsoft-Build-2016-UWP-Dramatic-Blue-Windows-10-796x448.jpg);
	// background-repeat: no-repeat;
	// background-position: center center;
	// background-size: 96px 96px;
	a {

		img {
			float: right;
		}
	}
	h5 {
		color: #F42;
		font-size: 13px;
		text-transform: uppercase;
		margin-top: -15px;
	}

	h4 {

		a {
			color: #F42;
		}
	}
}

.apps {
	min-width: 100%;

	ul {
		color: #F42;

		li {
			margin: 10px 0;
			padding-bottom: 5px;
			border-bottom: 1px solid lightgray;

			a {
				color: gray;
				font-size: 14px;

				&:hover {
					color: black;
				}
			}
		}
	}
}

@media only screen and (min-width: 768px) {

	body:after {
		content: "Screen width 1024px and up";
		font-size: 200%;
		text-align: center;
		position: fixed;
		bottom: 50px;
		width: 100%;
	}
} 